{{#section 'head'}}
<script src="/assets/scripts/auth-login.js" defer></script>
{{/section}}

<main class="d-flex align-items-center justify-content-center py-4 px-3">
  <div class="col-12 col-md-8 col-lg-5">
    <form id="loginForm" class="bg-white rounded-3 p-4 shadow-sm">

      <!-- Logo + title -->
      <div class="text-center mb-4">
        <img src="/assets/imgs/favicon.png" alt="logo" width="120" height="120" class="mb-2">
        <h1 class="h4 fw-bold mt-2">Log in to EasyManage</h1>
        <p class="text-danger small mt-2 mb-0 d-none" id="errorMsg"></p>
      </div>

      <!-- Fields -->
      <div class="form-floating mb-3">
        <input type="text" name="usernameOrEmail" class="form-control" id="floatingInput"
          placeholder="Username or email" required />
        <label for="floatingInput">Username or email</label>
      </div>

      <div class="form-floating mb-3 position-relative">
        <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password" required />
        <label for="floatingPassword">Password</label>

        <span id="togglePassword" class="position-absolute end-0 top-50 translate-middle-y me-3"
          style="cursor: pointer; z-index: 10;">
          <i class="bi bi-eye" id="eyeIcon"></i>
        </span>
      </div>

      <button class="w-100 btn btn-lg btn-dark" type="submit" id="loginBtn">Log in</button>

      <hr class="my-4" />
      <div class="d-flex justify-content-between">
        <a href="/reset-password" class="small">Forgot password?</a>
      </div>

    </form>
  </div>
</main>

<script>

</script>