<!-- Bottom bar -->
<div
  class="d-flex d-xxl-none justify-content-evenly align-items-center bg-white fixed-bottom px-0 px-sm-0 px-md-5 px-lg-5"
>
  <!-- Summary -->
  <a
    class="btn d-flex flex-column align-items-center {{#if (eq activeMenu 'report')}}text-primary{{else}}text-black{{/if}}"
    role="button"
    href="/report"
  >
    <i class="bi bi-graph-up fs-3"></i>
    <span>Tổng quan</span>
  </a>

  <!-- Product -->
  <a
    class="btn d-flex flex-column align-items-center {{#if (eq activeParent 'productManage')}}text-primary{{else}}text-black{{/if}}"
    role="button"
    href="/products"
  >
    <i class="bi bi-bag fs-3"></i>
    <span>Sản phẩm</span>
  </a>

  <!-- Order -->
  <a
    class="btn d-flex flex-column align-items-center {{#if (eq activeMenu 'sales')}}text-primary{{else}}text-black{{/if}}"
    role="button"
    href="/sales"
  >
    <i class="bi bi-receipt fs-3"></i>
    <span>Đơn hàng</span>
  </a>

  <!-- Notification -->
  <a
    class="btn d-flex flex-column align-items-center"
    role="button"
    href="/notifications"
  >
    <i class="bi bi-bell fs-3"></i>
    <span>Thông báo</span>
  </a>

  <!-- Profile -->
  <a
    class="btn d-flex flex-column align-items-center"
    role="button"
    href="/menu"
  >
    <i class="bi bi-person-circle fs-3"></i>
    <span>Menu</span>
  </a>
</div>