<!-- Bottom bar -->
<div
  class="d-flex d-md-none justify-content-evenly align-items-center fixed-bottom bg-white"
>
  <!-- Summary -->
  <a
    class="btn d-flex flex-column align-items-center"
    role="button"
    href="/report"
  >
    <i class="bi bi-graph-up fs-4"></i>
    <span>Tổng quan</span>
  </a>

  <!-- Order -->
  <a
    class="btn d-flex flex-column align-items-center"
    role="button"
    href="/orders"
  >
    <i class="bi bi-receipt fs-4"></i>
    <span>Đơn hàng</span>
  </a>

  <!-- Product -->
  <a
    class="btn d-flex flex-column align-items-center"
    role="button"
    href="/products"
  >
    <i class="bi bi-bag fs-4"></i>
    <span>Sản phẩm</span>
  </a>

  <!-- Notification -->
  <a
    class="btn d-flex flex-column align-items-center"
    role="button"
    href="/notifications"
  >
    <i class="bi bi-bell fs-4"></i>
    <span>Thông báo</span>
  </a>

  <!-- Profile -->
  <a
    class="btn d-flex flex-column align-items-center"
    role="button"
    href="/menu"
  >
    <i class="bi bi-person-circle fs-4"></i>
    <span>Menu</span>
  </a>
</div>