<nav class="navbar navbar-expand-lg navbar-light ps-0">
  <div class="container-fluid">
    <a class="navbar-brand ms-1" href="/">{{title}}</a>

    <div class="ms-auto">
      {{#if session.userId}}
        <div class="dropdown">
          <button class="btn btn-light dropdown-toggle" type="button" id="userMenu" data-bs-toggle="dropdown" aria-expanded="false">
            {{session.username}}
          </button>
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-light" aria-labelledby="userMenu">
            <li><a class="dropdown-item" href="/logout">Logout</a></li>
          </ul>
        </div>
      {{else}}
        <a href="/login" class="btn btn-outline-light btn-sm">Login</a>
      {{/if}}
    </div>
  </div>
</nav>