<nav class="navbar navbar-expand-lg navbar-light ps-0">
  <div class="container-fluid">
    <a class="navbar-brand ms-1" href="/">{{title}}</a>

    <div class="ms-auto">
      {{#if user}}
        <div class="dropdown">
          <button class="btn btn-light dropdown-toggle" type="button" id="userMenu" data-bs-toggle="dropdown" aria-expanded="false">
            {{user.username}}
          </button>
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-light" aria-labelledby="userMenu">
            <li><a id="logoutLink" class="dropdown-item" href="#">Logout</a></li>
          </ul>
        </div>
      {{/if}}
    </div>
  </div>
</nav>

<script>
  document.getElementById('logoutLink')?.addEventListener('click', async function(e) {
    e.preventDefault();

    try {
      const res = await fetch('/api/v1/auth/logout', { method: 'POST' });
      const result = await res.json();

      if (result.success) {
        window.location.href = '/login';
      } else {
        alert('Logout failed');
      }
    } catch (error) {
      console.error('Error during logout:', error);
      alert('An error occurred during logout');
    }
  });
</script>