<ul class="nav nav-pills flex-column">
  <li class="nav-item">
    <a
      href="/report"
      data-bs-toggle="tooltip"
      data-bs-placement="right"
      title="Tổng quan"
      class="nav-link py-2 border-bottom rounded-0 text-black"
    >
      <i class="bi bi-graph-up mx-1"></i>
      <span>Tổng quan</span>
    </a>
  </li>

  <li class="nav-item">
    <!-- Show when expanded -->
    <a
      href="#productMenu"
      class="nav-link py-2 border-bottom submenu-trigger"
      data-bs-toggle="collapse"
    >
      <i class="bi bi-bag mx-1"></i>
      <span class="right-menu-expanded-item">Sản phẩm</span>
      <i class="bi bi-chevron-down ms-auto right-menu-expanded-item"></i>
    </a>

    <!-- Sub menu for expanse -->
    <div class="collapse" id="productMenu">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a href="/good" class="nav-link py-2 border-bottom ps-4 text-black">
            <i class="bi bi-bag mx-1"></i>
            <span>Mặt hàng</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            href="/category"
            class="nav-link py-2 border-bottom ps-4 text-black"
          >
            <i class="bi bi-tags mx-1"></i>
            <span>Danh mục</span>
          </a>
        </li>
      </ul>
    </div>
  </li>
</ul>