<!-- Sidebar (md and above) -->
<div class="d-none d-md-flex flex-column" id="right-menu">
  {{> menu}}
  <!-- Collapse menu-bar for large screen -->
  <button class="btn border-0 d-none d-md-flex mt-auto" id="right-menu-toggle">
    <i class="bi bi-list fs-5 mx-auto"></i>
  </button>
</div>