<!-- Sidebar (md and above) -->
<div class="d-none d-md-flex flex-column bg-white shadow-sm" id="sidebar">
  {{> sidebarMenu}}
</div>

<!-- Offcanvas (below md only) -->
<div
  class="offcanvas offcanvas-start d-md-none"
  tabindex="-1"
  id="offcanvasSidebar"
  aria-labelledby="offcanvasSidebarLabel"
>
  <div class="offcanvas-header">
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      data-bs-target="#offcanvasSidebar"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body p-0">
    {{> sidebarMenu}}
  </div>
</div>