body {
  margin: 74.5px 0 0 0;
  font-family: "Roboto", sans-serif;
}

/* Header */
header {
  background-color: #ebf4f6;
}

.navbar-brand {
  color: #09637e !important;
}


/* Sidebar - default collapsed */
#sidebar {
  width: 68px;
  transition: width 0.5s ease;
  overflow: hidden;
  white-space: nowrap;
  height: calc(100vh - 74.5px);
}

#sidebar span {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, visibility 0s 0.3s;
}

/* Sidebar - expanded */
#sidebar.expanded {
  width: 264px;
}

#sidebar.expanded span {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.2s ease, visibility 0s 0s;
}

.nav-pills .nav-link.active {
  color: black;
  background-color: whitesmoke; 
  border-radius: 0%;
}

