:root {
  --primary-color: #09637e;
  --secondary-color: #e8f4f8;
  --text-color: #333;
  --hover-bg-color: #f0f0f0;

  --navbar-height: 55px;
  --sidebar-width-collapsed: 68px;
  --sidebar-width-expanded: 220px;

  --bottombar-height: 92.5px;
}

body {
  height: 100dvh;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}

.content-container {
  overflow-y: auto;
  height: 0;
}

@media (max-width: 1400px) {
  .content-container {
    padding-top: 5px;
    padding-bottom: calc(var(--bottombar-height) + 15px) !important;
    padding-left: 5px;
    padding-right: 5px;
  }
}

/* 
Header 
*/
nav {
  position: sticky;
  top: 0;
  z-index: 100;
  height: var(--navbar-height);
}

.navbar-brand {
  margin-left: calc(2 * 0.5rem);
  font-weight: bold;
  font-size: 1.125rem;
}


/* 
sideMenu-container 
*/
/* default collapsed */
#right-menu {
  padding-top: var(--navbar-height);
  width: var(--sidebar-width-collapsed);
  transition: width 0.5s ease;
  overflow: hidden;
  white-space: nowrap;
  height: 100vh;
}

#right-menu span {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, visibility 0s 0.3s;
}

/* expanded */
#right-menu.expanded {
  width: var(--sidebar-width-expanded);
}

#right-menu.expanded span {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.2s ease, visibility 0s 0s;
}

.nav-pills .nav-link.active {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

/* Animation for sidebar chevron */
/* Default state */
a[data-bs-toggle="collapse"] .bi-chevron-down {
  transition: transform 0.3s ease;
}

/* Expanded state */
a[data-bs-toggle="collapse"][aria-expanded="true"] .bi-chevron-down {
  transform: rotate(180deg);
}

/* Icon */
.right-menu-icon {
  margin: 0 5px 0 5px;
}
/* 
bottomMenu-container 
*/
.bottomMenu-container span{
  font-size: 0.6rem;
  margin-top: 5px;
}

/* 
content-container 
*/